<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<title>To-do List! (aka Flask + SQL Starter Project)</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
</head> 
<body> 
	<h1>Hack@Brown 2020 Todo List</h1> 
	<div>Create a new todo item:
		<form>
			<input type="text" name="todoitem">
			<input type="submit" value="Submit" class="button">
		</form>
	</div> 
	<div> 
		<h2>Incomplete:</h2>
		<h2>Completed:</h2>
	</div> 
</body> 
</html> 
